//Variables

$headings: 'museo', 'Roboto Slab', serif;
$secondary: 'proxima-nova', 'Oxygen', sans-serif;

//Component Settings
$blockquote-border: #FFF;

/* >>>>>>>>>>>>>>
COLORS
>>>>>>>>>>>>>>>*/
$krew-green: #51B964;
$krew-blue: #00BBC6;
$krew-purple: #A473B1;
$krew-orange: #F3785E;
$krew-gray1: #f2f2f2;
$krew-gray2: #F5F5F5;
$krew-well: #F7F7F7;
$krew-gray3: #EBECEC;
$krew-gray4: #BFBFC0;
$krew-gray5: #757575;
$krew-gray6: #666666;
$krew-black: #373837;
$krew-red: #FA3838;
$light_gray_border: #E6E6E6;

//Toaster Colors
$krew-toaster-success: rgba(32, 204, 110, 1);
$krew-toaster-info: #44299FB;
$krew-toaster-warning: #FCA53C;
$krew-toaster-error: #CC1105;

//Break Points
$phone: 319px;
$phablet: 375px;
$tablet: 767px;
$desktop: 1200px;
$xl-desktop: 1600px;
